# Start by ignoring everything
*

# Allow expected files
!/.circleci/
!/.circleci/config.yml
!/hand_grenade/
!/hand_grenade/__init__.py
!/hand_grenade/hand_grenade.py
!/tests/
!/tests/test_hand_grenade.py
!/.gitignore
!/LICENSE
!/MANIFEST.in
!/README.rst
!/setup.py
